.music-card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 34px;
    width: 95%;
    height: 50px;
    /* background: rgba(255, 255, 255, 0.08); */
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
  }
  .music-card .music-card-cover {
    position: relative;
    display: flex;
  }
  .music-card .music-card-cover img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .music-card .music-card-cover .play-circle {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .music-card .music-card-cover .play-circle .MuiSvgIcon-root {
    font-size: 4rem;
  }
  .music-card .music-card-cover .hover-img {
    visibility: visible;
  }
  .music-card .music-card-cover:hover {
    cursor: pointer;
    border-radius: 8px;
  }
  .music-card .music-card-cover:hover img {
    filter: brightness(0.34);

  }
  .music-card .music-card-cover:hover .play-circle {
    color: #fff;
    visibility: visible;
  }
  
  @media only screen and (max-width: 545px) {
    .music-card .music-card-cover img {
      width: 150px;
      height: 150px;
    }
  }



  .songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    color: white;
  }
  
  .songRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
    border-radius: 10px;
  }
  
  .songRow__info {
    margin-left: 20px;
  }
  
  .songRow__info > h1 {
    width: 100%;
    height: 24px;

font-family: 'Basier Circle';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  
  .songRow__info > p {
    width: 100%;
    height: 24px;
    
    font-family: 'Basier Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    
    color: #FFFFFF;
    
    opacity: 0.6;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .songRow__album {
    height: 40px;
    width: 40px;
  }