.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  color: white;
  /* background-color: #040404; */
  gap: 20%;
}

.header__bottom {
  margin-top: 99%;
  align-items: bottom;
  margin-left: 10%;
}
.header__bottom > img {
  width: 50px;
  border-radius: 50%;
}

.header__bottom > img:hover {
  border: 3px solid rgb(93, 185, 227);
}
